# Documentation: https://docs.docker.com/engine/reference/builder/#dockerignore-file

.mypy_cache
.storage
.notes
**/.pytest_cache
.venv
**/.venv
**/coverage
*/.github*
*/.notes*
*/.vscode*
*/dist*
*/docs*
*/scripts*
*/tests*
.env
.git*
.pylintrc
coverage.xml
*/__pycache__*
*.md
LICENCE
pytest.ini
**/node_modules