{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset='utf-8'>
    <meta name='viewport' content='width=device-width,initial-scale=1'>

    <title>CleanSecPy - Svelte Demo</title>

    <link rel='icon' type='image/png' href="{% static 'frontend/public/favicon.png' %}">
    <link rel='stylesheet' href="{% static 'frontend/public/global.css' %}">
    <link rel='stylesheet' href="{% static 'frontend/bundle.css' %}">

    <script defer src="{% static 'frontend/bundle.js' %}"></script>

</head>

<body>
</body>

</html>